FUENTES/APLICACION/COMPONENTES/Negocios/Web References/ActDirectory/activedirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/bcr.servicios.web/ActiveDirectory" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/bcr.servicios.web/ActiveDirectory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodos de Consulta al Active Directory. Jorge Castro Aguilar. Version 1.0.2</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/bcr.servicios.web/ActiveDirectory">
      <s:element name="Autenticar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutenticarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerGrupos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerGruposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerGruposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisteUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteGrupo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="grupo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteGrupoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisteGrupoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerDatosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerDatosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerDatosUsuarioResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarSoapIn">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="AutenticarSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="TraerGruposSoapIn">
    <wsdl:part name="parameters" element="tns:TraerGrupos" />
  </wsdl:message>
  <wsdl:message name="TraerGruposSoapOut">
    <wsdl:part name="parameters" element="tns:TraerGruposResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteUsuario" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteGrupoSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteGrupo" />
  </wsdl:message>
  <wsdl:message name="ExisteGrupoSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="TraerDatosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="TraerDatosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ActiveDirectorySoap">
    <wsdl:operation name="Autenticar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticación de credenciales de usuarios contra el Active Directory.</wsdl:documentation>
      <wsdl:input message="tns:AutenticarSoapIn" />
      <wsdl:output message="tns:AutenticarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerGrupos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listado de Grupos a los que pertenece un usuario separados por un | (pipe).</wsdl:documentation>
      <wsdl:input message="tns:TraerGruposSoapIn" />
      <wsdl:output message="tns:TraerGruposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica la existencia de un usuario en el directorio.</wsdl:documentation>
      <wsdl:input message="tns:ExisteUsuarioSoapIn" />
      <wsdl:output message="tns:ExisteUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteGrupo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica la existencia de un grupo en el directorio.</wsdl:documentation>
      <wsdl:input message="tns:ExisteGrupoSoapIn" />
      <wsdl:output message="tns:ExisteGrupoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerDatosUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los datos de un usuario válido en el directorio.</wsdl:documentation>
      <wsdl:input message="tns:TraerDatosUsuarioSoapIn" />
      <wsdl:output message="tns:TraerDatosUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActiveDirectorySoap" type="tns:ActiveDirectorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerGrupos">
      <soap:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/TraerGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <soap:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/ExisteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteGrupo">
      <soap:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/ExisteGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerDatosUsuario">
      <soap:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/TraerDatosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActiveDirectorySoap12" type="tns:ActiveDirectorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticar">
      <soap12:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/Autenticar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerGrupos">
      <soap12:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/TraerGrupos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <soap12:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/ExisteUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteGrupo">
      <soap12:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/ExisteGrupo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerDatosUsuario">
      <soap12:operation soapAction="http://tempuri.org/bcr.servicios.web/ActiveDirectory/TraerDatosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActiveDirectory">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodos de Consulta al Active Directory. Jorge Castro Aguilar. Version 1.0.2</wsdl:documentation>
    <wsdl:port name="ActiveDirectorySoap" binding="tns:ActiveDirectorySoap">
      <soap:address location="http://bcr0106lab82/bcr.servicios.web/activedirectory.asmx" />
    </wsdl:port>
    <wsdl:port name="ActiveDirectorySoap12" binding="tns:ActiveDirectorySoap12">
      <soap12:address location="http://bcr0106lab82/bcr.servicios.web/activedirectory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>